.lead__subtitle{
    
    font-family: 'Inter';
    font-size: 30px;
    line-height: normal;
    color:white;
    width: 583px;
    height: 65px;
    font-weight: 300;
    margin: 0px 348px 0 348px;
    padding: 0 0 78px;
    text-align: center;

}

@media screen and (max-width: 1024px){
    .lead__subtitle{
        margin: auto;
        
    }
}

@media screen and (max-width: 375px){
    .lead__subtitle{
        margin: auto;
        font-size: 16px;
        line-height:23px;
        width: 288px;
        padding: 0 0 31px;
        
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle{
        margin: auto;
        font-size: 16px;
        line-height: 23px;
        width: 288px;
        padding: 0 0 32px;
    }
}