
@import url('./__image/comment__image.css');
@import url('./__text/comment__text.css');

.comments__container{
display:flex;
list-style: none;
margin: 0;
justify-content: space-around;
}

@media screen and (max-width:768px){
    .comments__container{
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0px;
    }
}