.intro__title{
    font-family: 'Inter';
font-size: 54px;
line-height: 58px;
padding-bottom: 45px;
padding-top:80px;
color: white;
margin: 0px 449px 0 148px; 
}

@media screen and (max-width:1024px){
    .intro__title{
        width: 928px;
        margin: 0px 48px;
    }
}

@media screen and (max-width:768px){
    .intro__title{
        width: 720px;
        margin: 0px 24px;
       
    }
}
@media screen and (max-width:375px){
    .intro__title{
        width: 343px;
        margin: 0px 16px;
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:320px){
    .intro__title{
        width: 288px;
        margin: 0px 16px;
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 20px;
    }
}