.footer__link{
    font-family: 'Inter';
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    margin:0;
    padding-right: 18px;
    text-decoration-line:none;
}
.footer__link:hover{
    opacity: 0.7;
}
@media screen and (max-width:768px){
    .footer__link{
        font-size: 16px;
        line-height: 27px;
    }
}
@media screen and (max-width:375px){
    .footer__link{
        font-size: 24px;
        line-height: 40px;
        padding-top:32px
    }
}
@media screen and (max-width:320px){
    .footer__link{
        font-size: 24px;
        line-height: 40px;
        padding-top:32px
    }
}