.places__paragraph{
    margin: 0;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 484px;
    padding-bottom:36px
    

}
@media screen and (max-width: 1024px){
    .places__paragraph{
        width: 456px;
    }
}
@media screen and (max-width: 768px){
    .places__paragraph{
        width: 352px;
        font-size: 16px;
        line-height: 27px;
    }
}
@media screen and (max-width: 375px){
    .places__paragraph{
        width: 343px;
        font-size: 18px;
        line-height: 30px;
    }
}
@media screen and (max-width: 320px){
    .places__paragraph{
        width: 288px;
        font-size: 18px;
        line-height: 30px;
    }
}