.video__duration{
position: absolute;
z-index: 2;
font-family: 'Inter';
font-size: 12px;
line-height: 13px;
letter-spacing: 0.3em;
color: #FFFFFF;
margin:165px 0px 0px 30px;
}

@media screen and (max-width: 1024px){
    .video__duration{
        margin:125px 0px 0px 30px;
    }
}

@media screen and (max-width: 768px){
    .video__duration{
        margin:82px 0px 0px 25px;
    }
}

@media screen and (max-width: 375px){
    .video__duration{
        margin:80px 0px 0px 24px;
    }
}

@media screen and (max-width: 320px){
    .video__duration{
        margin:80px 0px 0px 16px;
    }
}