.barentsburg__map{
    width: 1184px;
    height: 464px;
    margin:0 48px;
}

@media screen and (max-width:1024px){
    .barentsburg__map{
        margin: 0 48px;
        width: 928px;
        height: 362px;
    }
}
@media screen and (max-width:768px){
    .barentsburg__map{
        width:100%;
        height:362px;
        margin:0;
    }
}

@media screen and (max-width:375px){
    .barentsburg__map{
        width:100%;
        height:184px;
        margin:0;
    }
}
@media screen and (max-width:320px){
    .barentsburg__map{
        width:100%;
        height:184px;
        margin:0;
    }
}