.footer__copyright{
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    
    color: #FFFFFF;
    margin:0;
    padding: 20px 48px 48px 300px;
    font-weight: 300;
}

@media screen and (max-width:1024px){

    .footer__copyright{
        padding: 20px 0px 48px 70px;
        margin-right: 40px;
    }
}
@media screen and (max-width:768px){

    .footer__copyright{
        padding: 5px 0px 0px 0px;
        margin-right: 20px
    }
}

@media screen and (max-width:375px){

    .footer__copyright{
        padding: 48px 0px 0px 16px;
       
    }
}
@media screen and (max-width:320px){

    .footer__copyright{
        padding: 48px 0px 0px 16px;
       
    }
}