@import url('./__link/footer__link.css');

.footer__links{
display:flex;
padding-left: 48px
}

@media screen and (max-width:768px){
    .footer__links{
        padding-left: 24px
    }
}
@media screen and (max-width:375px){
    .footer__links{
        padding-left: 16px;
        flex-direction: column;
    }
}
@media screen and (max-width:320px){
    .footer__links{
        padding-left: 16px;
        flex-direction: column;
    }
}