.cover__rect{
position: absolute;
margin:102px 48px 0;
z-index: 3;
opacity: 0.3;
}
.cover__rect:hover{
    opacity: 0.8;
}


@media screen and (max-width:1024px){
    .cover__rect{
        width:100%;
        margin:0;
    }
}

@media screen and (max-width:768px){
    .cover__rect{
        width:100%;
        height: 500px;
        margin:0;
    }
}


@media screen and (max-width:375px){
    .cover__rect{
        width:100%;
        height: 272px;
        margin:0;
    }
}

@media screen and (max-width:320px){
    .cover__rect{
        width:100%;
        height: 216px;
        margin:0;
    }
}