.emblem__title{
    margin:0;
    font-family: 'Inter';
    font-size: 42px;
    line-height: 45px;
    width: 403px;
    color: #FFFFFF;
    padding:82px 0px 82px 48px
}

@media screen and (max-width:768px){
    .emblem__title{
        padding:82px 0px 0px 24px
    }
}

@media screen and (max-width:375px){
    .emblem__title{
        padding:64px 0px 0px 16px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        width: 343px;
    }
}

@media screen and (max-width:320px){
    .emblem__title{
        padding:64px 0px 0px 16px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        width: 288px;
    }
}