.cover__image{
position: relative;
margin:102px 48px 0;
}

@media screen and (max-width:1024px){
    .cover__image{
        width:100%;
        margin:0;
    }
}

@media screen and (max-width:768px){
    .cover__image{
        width:100%;
        height: 500px;
        margin:0;
    }
}

@media screen and (max-width:375px){
    .cover__image{
        width:100%;
        height: 272px;
        margin:0;
    }
}

@media screen and (max-width:320px){
    .cover__image{
        width:100%;
        height: 216px;
        margin:0;
    }
}