.places__image{
    width: 460px;
height: 460px;
padding: 0 0px 0 148px;
}

@media screen and (max-width: 1024px){
    .places__image{
        padding: 0px 0px 0px 48px;
    }
}

@media screen and (max-width: 768px){
    .places__image{
        padding: 0px 0px 0px 24px;
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 375px){
    .places__image{
        padding: 0px;
        width: 100%;
        height: 375px;
    }
}
@media screen and (max-width: 320px){
    .places__image{
        padding: 0px;
        width:100%;
        height: 320px;
    }
}