@import url('./__title/barentsburg__title.css');
@import url('./__coord/barentsburg__coord.css');
@import url('./__map/barentsburg__map.css');
@import url('./__column-first/barentsburg__column-first.css');


.barentsburg{
background-color: rgb(56, 55, 55);
}