.video__play{
    position: absolute;
    z-index: 2;
    margin:30px 0px 0px 30px;
}

@media screen and (max-width:768px){
    .video__play{
        margin:25px 0px 0px 25px;
}   
}

@media screen and (max-width:375px){
    .video__play{
        margin:24px 0px 0px 24px;
}   
}
@media screen and (max-width:320px){
    .video__play{
        margin:16px 0px 0px 16px;
}   
}