.places__title{
    margin:0;
    padding:92px 0px 60px 148px;
    font-family: 'Inter';
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
    width:457px

}
@media screen and (max-width: 1024px){
    .places__title{
        padding:92px 0px 40px 48px;
    }
}

@media screen and (max-width: 768px){
    .places__title{
        padding:92px 0px 40px 24px;
        font-size: 42px;
        line-height: 46px;
        width: 200px
    }

}
@media screen and (max-width: 375px){
    .places__title{
        padding:64px 16px 76px 16px;
        font-size: 32px;
        line-height: 35px;
        width: 343px
    }

}
@media screen and (max-width: 320px){
    .places__title{
        padding:64px 16px 76px 16px;
        font-size: 32px;
        line-height: 35px;
        width: 288px
    }

}
