.content-subtitle{
    font-family: 'Inter';
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    width: 640px;
    margin: 0 auto;
    padding: 0px 0px 72px 0px;
    font-weight: 300;
}

@media screen and (max-width:768px){
    .content-subtitle{
        font-size: 16px;
        line-height: 23px;
        width:343px;
        padding: 0px 16px 16px 16px;
    }
}
@media screen and (max-width:768px){
    .content-subtitle{
        font-size: 16px;
        line-height: 23px;
        width:288px;
        padding: 0px 16px 16px 16px;
    }
}