@import url('./__image/places__image.css');
@import url('./__column-second/place__column-second.css');

.place__column-first{
display:flex;

}
@media screen and (max-width:375px){
    .place__column-first{
        flex-direction: column;
    }
    
}
@media screen and (max-width:320px){
    .place__column-first{
        flex-direction: column;
        flex-flow: wrap
    }
    
}