.header__logo{
width: 176.58px;
height: 52px;
padding-top: 30px;
padding-left: 48px;
}

@media screen and (max-width:320px){
    .header__logo{
        width: 142px;
        height: 42px;
        padding-top: 16px;
        padding-left: 16px;
    }
}
@media screen and (max-width:375px){
    .header__logo{
        width: 142px;
        height: 42px;
        padding-top: 16px;
        padding-left: 16px;
    }
}