.lead__image{
    width: 984px;
height: 554.13px;

margin:auto;

}
@media screen and (max-width:1024px){
    .lead__image{
        margin: 0 48px;
        width:928px;
    }
}

@media screen and (max-width:768px){
    .lead__image{
        margin:0;
        width:100%;
        height:420px
    }
}

@media screen and (max-width:375px){
    .lead__image{
        margin:0;
        width:100%;
        height:211px
    }
}

@media screen and (max-width:320px){
    .lead__image{
        margin:0;
        width:100%;
        height:211px
    }
}