.intro__content-row_author-data{
    list-style-type:none;
    font-family: 'Inter';
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 35px;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .intro__content-row_author-data{
        width: 720px;
        margin: 19px -16px 0px;
    }
}
@media screen and (max-width:375px){
    .intro__content-row_author-data{
        width: 343px;
        
        margin: 19px 16px 0px;
    padding-inline-start: 0px;
    }
}
@media screen and (max-width:320px){
    .intro__content-row_author-data{
        width: 288px;
       
        margin: 19px 16px 0px;
    padding-inline-start: 0px;
    }
}
