@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__image/cover__image.css');
@import url('./__rect/cover__rect.css');

.cover{
    background-color: rgb(56, 55, 55);
    
    padding-top:102px
}

@media screen and (max-width:375px){
    .cover{
        padding-top:64px  
    }
}
@media screen and (max-width:320px){
    .cover{
        padding-top:64px  
    }
}