.barentsburg__link{
    font-family: 'Inter';
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    width: 282px;
    color: #FFFFFF;
    
}
.barentsburg__link:hover{
    opacity: 0.7;
}