.photo-grid__item{
    width: 284px;
    height: 188px;
}

@media screen and (max-width:1024px){
    
    .photo-grid__item{
        width: 300px;
        height: 200px;
    }
    
}

@media screen and (max-width:768px){
    
    .photo-grid__item{
        width: 352px;
        height: 234px;
    }
    
}
@media screen and (max-width:275px){
    
    .photo-grid__item{
        width: 343px;
        height: 232px;
    }
    
}
@media screen and (max-width:320px){
    
    .photo-grid__item{
        width: 288px;
        height: 192px;
    }
    
}