

.header__lang{
    font-size: 24px;
    line-height: 23px;
    margin-left: 5px;
    margin-top:22px;
    font-family: 'Inter';
    font-weight: 300;
    color:white;
    text-decoration-line:none  
}
 
.header__lang:hover{
    opacity: 0.7;
}

@media screen and (max-width:320px){
    .header__lang{
        font-size: 18px;
        line-height: 17px;
    }
}