.video__title{
    position: absolute;
    z-index: 2;
    font-family: 'Inter';
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin:189px 0px 0px 30px;
    width: 322px;
}


@media screen and (max-width: 1024px){
    .video__title{
        margin:149px 0px 0px 30px;
    }
}

@media screen and (max-width: 768px){
    .video__title{
        margin:102px 0px 0px 25px;
        font-size: 24px;
    line-height: 26px;
    }
}
@media screen and (max-width: 375px){
    .video__title{
        margin:100px 0px 0px 24px;
    }
}
@media screen and (max-width: 320px){
    .video__title{
        margin:102px 0px 0px 16px;
        width: 256px;
    
    }
}