@import url('./__text/barentsburg__text.css');
@import url('./__column-second/barentsburg__column-second.css');

.barentsburg__column-first{
    display: flex;
    justify-content: baseline
}

@media screen and (max-width:375px){
    .barentsburg__column-first{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:320px){
    .barentsburg__column-first{
        flex-direction: column-reverse;
    }
}